.Spotify {
    width: 47%;
    border: 1px solid ;
    font-family: Helvetica, sans-serif;
   font-size: medium;
    
}

footer div>p>.Terms{
    color: rgb(30, 202, 30)
}

footer div>p{
    font-size: small;
}
