@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);
@font-face {
    font-family: "Circular Spotify Tx T Black"; 
    src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot"); 
    src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff") format("woff"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.svg#Circular Spotify Tx T Black") format("svg");
}

/* Rabia*/

/* Header*/

/* Header Image */
header img{
    width: 15%;
    height: 25%;
}

/* Social Buttons */

:root {
    /* spotify standard green */
    --green: rgb(26, 187, 21);  
    --greenFocus: rgb(26, 176, 24);   
}
/*============= Rabia Social Buttons  ============== */


/* button h5 */
#socialMediaOptions h5 strong{
    font-family:Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    text-align: center;
}

/* All social buttons */
#socialMediaOptions button{
    width: 100%;
    padding-top: 14px;
    font-size: 16px;
}

/* facebook button */
#socialMediaOptions .facebook{
    font-family:Helvetica, sans-serif;
    background-color: #3b5998;
}

/* facebook hover */
#socialMediaOptions .facebook:hover{
    background-color: #4c659c;
}

/* apple button */
#socialMediaOptions .apple{
    font-family:Helvetica, sans-serif;
    background-color: #000000;
}

/* apple hover */
#socialMediaOptions .apple:hover{
    background-color: #272525;
}

/* google button */
#socialMediaOptions .google{
    font-family:Helvetica, sans-serif;
    background-color: white;
    color: #616467;
    border: 3px solid #616467;
}

/* google logo in button */
#socialMediaOptions .google>img{
    width: 20px;
    height: 20px;
}

/* google hover */
#socialMediaOptions .google:hover{
    background-color: #616467;
    color: white;
}

/* targeting OR in hr */
#socialMediaOptions .or{
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    bottom: 7px;
    left: 45%;
}


/* log in button */

/* .custom-checkbox .custom-check-input:checked {
    background-color: var(--greenFocus) !important;
}
.custom-checkbox .custom-check-input:active {
    background-color: var(--greenFocus);
} */

/* #personalDetails input[type="checkbox"]:checked::after{
    background-color: yellow;
}

#personalDetails input[type="checkbox"]:active{
    background-color: yellow;
} */
#tick {
    position: absolute;
    top: 10px;
    left: 5px;
    color: white;
    z-index: 5;
}
#exampleCheck1 {
    height: 25px;
    width: 25px;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    /* transition-duration: 0.2s; */
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
#tick:hover {
    cursor: pointer;
}
.form-check-label:hover {
    cursor: pointer;
}

#exampleCheck1:checked {
    border: 1px solid #41B883;
    background-color: var(--greenFocus);
} 


.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
}

.btn-primary:hover {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
    box-shadow: 0 0 0 0.2rem rgb(30 202 30 / 50%);
}

.btn-primary:focus {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
    box-shadow: 0 0 0 0.2rem rgb(30 202 30 / 50%);
}

#loginButton {
    /* padding-right: 15px; */
    /* font-size: 12px; */
    letter-spacing: 1px;
    margin: 5px 0px;
    padding: 12px 96px 4px;
}

#personalDetails p{
    color: var(--greenFocus);
}

.spotify {
    border: 1px solid ;
    font-family: Helvetica, sans-serif;
   font-size: medium;
    
}

.spotify:hover {
    background-color: #616467;
    color: white;
    
}

footer div>p>.Terms{
    color: rgb(30, 202, 30)
}

footer div>p{
    font-size: small;
}

/*============= Rabia Side Bar  ============== */

/* =========  basic page structure ========*/

#menu {
    background-color: black;
    min-height: 100vh;
}

#menu ul{
    list-style:none;
}

#menu ul a{
   text-decoration: none;
   color: #B1B1B1;
}

#menu ul li{   
    font-size: larger;
 }

 #menu ul li>:hover{   
    color: white;
 }

 #menu ul svg{
    color: #B1B1B1;
    width: 30px; ;
    height:30px;
 }

 /* HOME SIDE BAR */

  #menu .sideBottom{
     color: #B1B1B1;
 }

 #menu .sideBottom .sign{
     background-color: white;
     color: black;
     border-color: white;
 }

 #menu .sideBottom .sign:hover{
    background-color: #B1B1B1;
    color: black;
    border-color: #B1B1B1;
}

 #menu .sideBottom .login{
    background-color: black;
    color: #B1B1B1;
    border-color: #B1B1B1;
}

#menu .sideBottom .login:hover{
    background-color: #B1B1B1;
    color: black;
    border-color: #B1B1B1;
}

.sideBottom a{
    color: #B1B1B1;
    text-decoration: none;
}

.sideBottom a:hover{
    color: white;
    text-decoration: none;
}

.sideBottom .row>.col-6:first-of-type a:first-of-type{
    border-right: 1px solid #B1B1B1;
}

/* SIDE BAR OTHER */

#menu .sideBottom{
    color: #B1B1B1;
}

#menu .sideBottom a{
    text-decoration: none;
    color: #7a7a7a ;       
}

#menu .sideBottom a:hover{
    text-decoration: none;
    color: #9e9999 ;       
}

#menu .sideBottom svg{
    color: #7a7a7a ;    
}

.sideBottom hr{
    border-top: 1px solid #7a7a7a ;
}

.sideBottom img{
    width: 45px;
}

.sideBottom p{
    color: white;
}

/*============= Rabia Side Bar  END============== */

/*============= Rabia small screen Side Bar============== */

.smalltab a{
    text-decoration: none;
  }
  
  .smalltab {
    background-color: black!important;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
  }
  
  .smalltab svg{
    color: #B1B1B1;
  }

/*============= Rabia small screen Side Bar END============== */



/*============= Rabia footer  ============== */

footer {
    background-color: #2c2c2c;
    min-height: 10vh;
  /*   z-index: 10; */
}

#player svg{
    color: #7a7a7a;
}

#player svg:hover{
    color: #ccc3c3;
}

#player i{
    color: #7a7a7a;
}

#player i:hover{
    color: #ccc3c3;
}

.pause{
    visibility: hidden;  
    position: absolute;
    right: 50%;
    transform: translateX(26px);
}

.playhr{
    border-top: 2px solid #7a7a7a ;
}

.slider{
    -webkit-appearance: none;  
    appearance: none;
    height: 4px;
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

input{
    margin: 5px;
}

.slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    cursor: pointer; 
  }

   .slider::-webkit-slider-thumb:hover {
    width: 10px;
    height: 10px;
    background: #929191; 
    cursor: pointer; 
  }

 
/* for other pages */
#player img{
    width: 15%;
    height: 80%;
}

.footerp{
    color: white;
    line-height: 2px;
}

#seek-slider{
    -webkit-appearance: none;  
    appearance: none;
    height: 3px;
    background: #d3d3d3; 
    outline: none; 
    width: 70%;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

#seek-slider:hover {
    opacity: 1;
  }

#seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    cursor: pointer; 
  }

/*============= Rabia footer END  ============== */
/*============= Rabia small screen footer ============== */


#smallFooter {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 78px;
    z-index: 100;
  }

  #smallFooter .navbar{
    background-color: #2c2c2c!important;
    height: 78px;
    padding: 0.5rem 0.4rem;
  
  }

  #smallFooter img{
    width: 60px;
    height: 50px;
  }

  #smallFooter svg{
      z-index: 100;
      color: grey;
  }

  #smallFooter svg:hover{
    z-index: 100;
    color: white;
}

  #smallFooter i{
      z-index: 100;
      color: grey;
  }

  #smallFooter i:hover{
    z-index: 100;
    color: rgb(255, 255, 255);
}

#smallFooter .pause{
    
    position:absolute;
    right: 59%;
    transform: translateX(27px);
}

  /*============= Rabia small screenfooter END  ============== */


/* ======================================  */

/* ============ Content Start ========================  */
#content {
    background-color: #121212;
    min-height: 100vh;
    color: white;
    padding-bottom: 200px;
}

/* font call to content section  */
/* #content {
    font-family: "Circular Spotify Tx T Black";
    font-weight: lighter;
} */


/* full card */
#content .card {
    color: white;
    background-color: rgb(24, 24, 24);
    border-radius: 0.5em;
}

/* change card appearance on hover */
#content .card:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
    
}

/* heading of cards section  */
#deckHeader>div>h3 {
    font-size: 2.5em;
    letter-spacing: 2px;
}

#deckHeader>div>h3:hover {
    text-decoration: underline;
}

/* description of cards section  */
#deckHeader div>span {
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.70);
}
/* card img  */
#content .card img {
    border-radius: 1.5em;
    padding: 25px;
}

 /* in card heading (album name) */
#content .card-body h5 {
    font-size: 25px;
    letter-spacing: 1px;
}
/* in card p (artist name) */
#content .card-body p {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.7);
}

/* .jumbotron  {
    background-image: url(https://www.rollingstone.com/wp-content/uploads/2018/06/queen-news-of-the-world-opener-c5bda6ed-0bdf-42c0-8d93-7b29ec5c4259.jpg?resize=1800,1200&w=1200);
    background-size: cover;
    min-height: 600px;
} */
/* .jumbotron::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 15px;
    left: 15px;
    width: 100%;
    min-height: 600px;
    background: linear-gradient(180deg, rgba(19,19,19,0.75) 48%, rgba(19,19,19,1) 100%);
    z-index: 0;
} */

/* #artist-container {
    height: 500px;
} */

/* #artist-container p {
    font-weight: lighter;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.7);
} */

/* #follow-btn {
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 15px;
    letter-spacing: 1px;
    padding: 1em 5em;
} */
/* 
#artistNav a {
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

#artistNav a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255);
}
#artistNav a:hover::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    border-radius: 2em;
    bottom: -10px;
    transform: translate(25%);
    background-color: var(--greenFocus);
    z-index: 2;
} */


/*============= Rabia Artistpage start  ============== */
#contentArtist{
  background-color: black;
  background-image: url("artistassets/queen.jpg");       
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: 0% 250%;
}

#contentArtist::after{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(82,81,81,0.4939017843465511) 6%, rgba(0,0,0,0.4939017843465511) 15%, rgba(42,39,39,0.6283555658591562) 25%, rgba(20,20,20,0.9420810560552346) 37%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 79%, rgba(0,0,0,1) 84%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 97%);
}

#contentArtist #cardsDeck {
    margin-bottom: 150px;
}

#contentArtist p{
    z-index: 10;
    color: #a7a7a5;
    font-size: small;
}

#contentArtist h1{
    z-index: 10;
    color: white;
    font-size:50px;
}

#contentArtist .playbtn{  
    letter-spacing: 0px;
    padding: 0em 4em;
    z-index: 1;  
    margin: 5px;  
}

#contentArtist .smallPlaybtn{  
    letter-spacing: 0px;
    padding: 0em 4em;
    z-index: 100;  
    margin: 5px; 
    padding: 3% 0;  
    background-color: #1db954; 
    border-color: transparent;
}

#contentArtist .smallPlaybtn:hover{  
    background-color: #116b30d3; 
}


#contentArtist .playbtn:hover{  
  background-color: #1db954;   
}

#contentArtist .follow{ 
    z-index: 1;  
    letter-spacing: 0px;
    padding: 0em 3em;
    background-color: rgba(0,0,0,0.5); 
    margin: 5px; 
    width: 100%;  
}

#contentArtist .smallfollow{
    z-index: 5;  
    letter-spacing: 0px;
    padding: 0em 3em;
    background-color: rgba(0,0,0,0.2);
    margin: 5px; 
   border-color: grey; 
    padding: 3% 0; 
}

#contentArtist .smallfollow:hover{
    background-color: rgba(0,0,0,0.7); 
}

#contentArtist .follow:hover{  
    background-color: rgba(0,0,0,0.7);    
}

#contentArtist svg{ 
    fill: white;  
    width: 50px;
    z-index: 2;
}

#contentArtist svg:hover{ 
    fill: rgb(202, 198, 198);   
    width: 50px;
}

#contentArtist li a{
    color:rgb(202, 198, 198);
    font-size: small;
    position: relative;
}

#contentArtist li a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #1db954;
    color: transparent;
    width: 0%;
    content: "";
    height: 3px;
    transition: all 0.5s;    
}

#contentArtist li a:hover::after{
    width: 40%;
}

#contentArtist li a:focus{
    color:white;
    border: none;
}

#contentArtist li a:hover{
    color:white;
    border: none;
}

#contentArtist .nav-tabs{
    border: none;
}

#contentArtist .nav-tabs .nav-item .active{
    border: none;
    background-color: transparent;
}

#contentArtist h2{
    z-index: 1;
    color: white!important;
    font-size:30px;
}

#contentArtist .artistCards{
    z-index: 10;
}

#contentArtist .card{
    z-index: 10;
    background-color: black;
    width: fit-content;
    margin-right: 7px;
    margin-left: 7px;
    border-radius:none;
    transform: translateX(0px);  
    transition: 1s all;
}

#contentArtist .card-body{
    padding: 0.25rem;
}

#contentArtist .card:hover{
    background-color: rgb(27, 26, 26);
    box-shadow: 2px 0 20px 2px rgba(20, 20, 20,0.5);
    transform: scale(1.09);
    z-index:2;
}

#contentArtist .card:hover .card-play {
    transform: scale(1);
}

#contentArtist .row2{
    padding-bottom: 100px;
    margin-bottom: 500px;
}

#deckHeader {
    z-index: 1;
}
/* 
@media (min-width: 576px){ 
#contentArtist .card-deck{
    margin-left:0px;
    margin-right: 0px;
}
}  */


/*============= Rabia Artistpage END  ============== */

/* ============ Aizada Album START ================= */
/* button play */
.myBtn{
    font-size: 0.50rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.80em 4em;
    margin-bottom: 0.75em;
}

/* h5  */
.queen-II {
    color: white;
    
}
/* p in first col */
p.small{
    color: grey;
    font-size: x-small;
}
/* tbody second col */
#music-album{
    color: grey;
    font-size: small;
}
/* icon heart */
.extra{
    color: rgb(201, 199, 199);
}

/* navbar on the top */
.navbar{
    background-color: rgb(12, 10, 10);
    height: 78px;
}

/* this is p inside the table */
td>p {
    font-size: x-small;
    margin-bottom: -15px;
    
}

/* inside table */
td>a {
    color: rgb(236, 232, 232);
    text-decoration: none;
}

td>a:hover {
    color: grey;
    text-decoration: none;
}

.table td{
transform: translateX(0px);  
transition: 1s all;
}


.table td:hover{
background-color: rgb(49, 44, 44);
box-shadow: 2px 0 20px 2px rgba(20, 20, 20,0.5);
transform: scale(1.03);
z-index:2;
}
/* ============ Aizada Album END ================= */

/* ============ Nando HomePage Start ============= */

#contentHome {
    background: linear-gradient(135deg, rgba(38,66,103,1) 20%, rgba(19,19,19,1) 100%);
    padding-bottom: 200px;
}


/* full card */
#cardsDeck .card {
    color: white;
    background-color: rgba(24, 24, 24, 0);
    border-color: rgba(24, 24, 24, 0);
    border-radius: 0.5em;
    /* z-index: 5; */

}

/* change card appearance on hover */
#cardsDeck .card:hover {
    transform: scale(1.09);
    /* box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    z-index: 3;
}


/* heading of cards section  */
#deckHeader>div>h3 {
    padding-left: 56px;
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
}

#deckHeader>div>h3:hover {
    text-decoration: underline;
}

/* description of cards section  */
#deckHeader div>span {
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.70);
}
/* card img  */
#cardsDeck .card img {
    /* border-radius: 5px; */
    padding: 8px;
    padding-bottom: 0;
    /* z-index: 2; */
}

/* #cardsDeck .second-row .card::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.511);
    z-index: 1;
} */

#cardsDeck .card i{
    position: absolute;
    color: rgba(255, 255, 255, 0.702);
    /* transform: scale(1); */
    top: 20px;
    left: 20px;
    z-index: 5;
}


 /* in card heading (album name) */
#cardsDeck .card-body h5 {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    z-index: 3;
}
/* in card p (artist name) */
#cardsDeck .card-body p {
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.7);
}

.card-play {
    width: 40px;
    height: 40px;
    background-color: #27AE60;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80px;
    margin: auto;
    border-radius: 50%;
    z-index: 20;
    transform: scale(0);
    transition: transform 0.1s;
}

.card-play::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 4px;
    margin: auto;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent white;


}

#contentHome li a{
    color:rgba(202, 198, 198, 0.73);
    font-size: 12px;
    position: relative;
    letter-spacing: 2px;
    font-weight: lighter;
}

#contentHome li a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #1db954;
    color: transparent;
    width: 0%;
    content: "";
    height: 3px;
    transition: all 0.5s;    
}

#contentHome li a:hover::after{
    width: 30%;
}

#contentHome li a:focus{
    color:white;
    border: none;
}

#contentHome li a:hover{
    color:white;
    border: none;
}

#contentHome .nav-tabs{
    border: none;
}

#contentHome .nav-tabs .nav-item .active{
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 650px) {
    #deckHeader {
        padding: 0px;
    }
    #deckHeader>div>h3 {
        font-size: 1.5em;
        /* padding-left: 0px !important; */
        /* padding-right: 0px; */
    }
    
}

@media screen and (max-width: 550px) {
    #deckHeader>div>h3 {
        font-size: 1em;
        letter-spacing: 0px;
    }
}    
/* 
@media screen and (max-width: 450px) {
    #deckHeader>div>h3 {
        font-size: 0.8em;
        letter-spacing: 0px;
    }
}     */
   

/* ============ Nando HomePage END ============= */
