@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);
@font-face {
    font-family: "Circular Spotify Tx T Black"; 
    src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot"); 
    src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff") format("woff"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.svg#Circular Spotify Tx T Black") format("svg");
}

/* Rabia*/

/* Header*/

/* Header Image */
header img{
    width: 15%;
    height: 25%;
}

/* Social Buttons */

:root {
    /* spotify standard green */
    --green: rgb(21, 136, 62);  
    --greenFocus: rgb(26, 187, 91);   
}
/*============= Rabia Social Buttons  ============== */


/* button h5 */
#socialMediaOptions h5 strong{
    font-family:Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    text-align: center;
}

/* All social buttons */
#socialMediaOptions button{
    width: 100%;
    padding-top: 14px;
    font-size: 16px;
}

/* facebook button */
#socialMediaOptions .facebook{
    font-family:Helvetica, sans-serif;
    background-color: #3b5998;
}

/* facebook hover */
#socialMediaOptions .facebook:hover{
    background-color: #4c659c;
}

/* apple button */
#socialMediaOptions .apple{
    font-family:Helvetica, sans-serif;
    background-color: #000000;
}

/* apple hover */
#socialMediaOptions .apple:hover{
    background-color: #272525;
}

/* google button */
#socialMediaOptions .google{
    font-family:Helvetica, sans-serif;
    background-color: white;
    color: #616467;
    border: 3px solid #616467;
}

/* google logo in button */
#socialMediaOptions .google>img{
    width: 20px;
    height: 20px;
}

/* google hover */
#socialMediaOptions .google:hover{
    background-color: #616467;
    color: white;
}

/* targeting OR in hr */
#socialMediaOptions .or{
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    bottom: 7px;
    left: 45%;
}


/* log in button */

/* .custom-checkbox .custom-check-input:checked {
    background-color: var(--greenFocus) !important;
}
.custom-checkbox .custom-check-input:active {
    background-color: var(--greenFocus);
} */

/* #personalDetails input[type="checkbox"]:checked::after{
    background-color: yellow;
}

#personalDetails input[type="checkbox"]:active{
    background-color: yellow;
} */

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
}

.btn-primary:hover {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
    box-shadow: 0 0 0 0.2rem rgb(30 202 30 / 50%);
}

.btn-primary:focus {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
    box-shadow: 0 0 0 0.2rem rgb(30 202 30 / 50%);
}

#loginButton {
    margin-right: 15px;
    /* font-size: 12px; */
    letter-spacing: 1px;
    padding: 1em 6em;
}

#personalDetails p{
    color: var(--greenFocus);
}

.spotify {
    border: 1px solid ;
    font-family: Helvetica, sans-serif;
   font-size: medium;
    
}

.spotify:hover {
    background-color: #616467;
    color: white;
    
}

footer div>p>.Terms{
    color: rgb(30, 202, 30)
}

footer div>p{
    font-size: small;
}
/* =========  basic page structure ========*/
#menu {
    background-color: black;
    min-height: 100vh;
}

#content {
    background-color: #121212;
    min-height: 100vh;
    color: white;
}

#player {
    background-color: #181818;
    min-height: 15vh;
    z-index: 10;
}
/* ======================================  */

/* font call to content section  */
#content {
    font-family: "Circular Spotify Tx T Black";
    font-weight: lighter;
}


/* full card */
#content .card {
    color: white;
    background-color: rgb(24, 24, 24);
    border-radius: 0.5em;
}

/* change card appearance on hover */
#content .card:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

/* heading of cards section  */
#deckHeader>div>h3 {
    font-size: 2.5em;
    letter-spacing: 2px;
}
/* description of cards section  */
#deckHeader div>span {
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.70);
}
/* card img  */
#content .card img {
    border-radius: 3em;
    padding: 25px;
}
 /* in card heading (album name) */
#content .card-body h5 {
    font-size: 25px;
    letter-spacing: 1px;
}
/* in card p (artist name) */
#content .card-body p {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.7);
}

.jumbotron  {
    background-image: url(https://www.rollingstone.com/wp-content/uploads/2018/06/queen-news-of-the-world-opener-c5bda6ed-0bdf-42c0-8d93-7b29ec5c4259.jpg?resize=1800,1200&w=1200);
    background-size: cover;
    min-height: 40vh;
}

#artistNav {
    margin-top: 180px;
} 

#artistNav a {
    font-size: larger;
    color: rgba(255, 255, 255);
}

#artistNav a:hover{
    font-size: larger;
    color: rgba(255, 255, 255);
    
}
