/* Rabia*/

/* Header*/

/* Header Image */
header img{
    width: 15%;
    height: 25%;
}

/* Social Buttons */

/* button h5 */
#socialMediaOptions h5{
    font-family:Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
}

/* All social buttons */
#socialMediaOptions button{
    width: 100%;
    padding-top: 14px;
    font-size: 16px;
}

/* facebook button */
#socialMediaOptions .facebook{
    font-family:Helvetica, sans-serif;
    background-color: #3b5998;
}

/* facebook hover */
#socialMediaOptions .facebook:hover{
    background-color: #4c659c;
}

/* apple button */
#socialMediaOptions .apple{
    font-family:Helvetica, sans-serif;
    background-color: #000000;
}

/* apple hover */
#socialMediaOptions .apple:hover{
    background-color: #272525;
}

/* google button */
#socialMediaOptions .google{
    font-family:Helvetica, sans-serif;
    background-color: white;
    color: #616467;
    border: 3px solid #616467;
}

/* google logo in button */
#socialMediaOptions .google>img{
    width: 20px;
    height: 20px;
}

/* google hover */
#socialMediaOptions .google:hover{
    background-color: #616467;
    color: white;
}

/* Hr row */
#socialMediaOptions .row:last-of-type{
    width: 100%;
}

/* targeting OR in hr */
#socialMediaOptions strong:last-of-type{
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    bottom: 6px;
    left: 45%;
}

