
/* Rabia*/

/* Header*/

/* Header Image */
header img{
    width: 15%;
    height: 25%;
}

/* Social Buttons */

:root {
    /* spotify standard green */
    --green: rgb(21, 136, 62);  
    --greenFocus: rgb(26, 187, 91);   
}
/*============= Rabia Social Buttons  ============== */


/* button h5 */
#socialMediaOptions h5 strong{
    font-family:Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    text-align: center;
}

/* All social buttons */
#socialMediaOptions button{
    width: 100%;
    padding-top: 14px;
    font-size: 16px;
}

/* facebook button */
#socialMediaOptions .facebook{
    font-family:Helvetica, sans-serif;
    background-color: #3b5998;
}

/* facebook hover */
#socialMediaOptions .facebook:hover{
    background-color: #4c659c;
}

/* apple button */
#socialMediaOptions .apple{
    font-family:Helvetica, sans-serif;
    background-color: #000000;
}

/* apple hover */
#socialMediaOptions .apple:hover{
    background-color: #272525;
}

/* google button */
#socialMediaOptions .google{
    font-family:Helvetica, sans-serif;
    background-color: white;
    color: #616467;
    border: 3px solid #616467;
}

/* google logo in button */
#socialMediaOptions .google>img{
    width: 20px;
    height: 20px;
}

/* google hover */
#socialMediaOptions .google:hover{
    background-color: #616467;
    color: white;
}

/* targeting OR in hr */
#socialMediaOptions .or{
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    bottom: 7px;
    left: 45%;
}


/* log in button */

/* .custom-checkbox .custom-check-input:checked {
    background-color: var(--greenFocus) !important;
}
.custom-checkbox .custom-check-input:active {
    background-color: var(--greenFocus);
} */

/* #personalDetails input[type="checkbox"]:checked::after{
    background-color: yellow;
}

#personalDetails input[type="checkbox"]:active{
    background-color: yellow;
} */

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
}

.btn-primary:hover {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
    box-shadow: 0 0 0 0.2rem rgb(30 202 30 / 50%);
}

.btn-primary:focus {
    background-color: var(--greenFocus);
    border-color: var(--greenFocus);
    box-shadow: 0 0 0 0.2rem rgb(30 202 30 / 50%);
}

#loginButton {
    margin-right: 15px;
    /* font-size: 12px; */
    letter-spacing: 1px;
    padding: 1em 6em;
}

#personalDetails p{
    color: var(--greenFocus);
}

.spotify {
    border: 1px solid ;
    font-family: Helvetica, sans-serif;
   font-size: medium;
    
}

.spotify:hover {
    background-color: #616467;
    color: white;
    
}

footer div>p>.Terms{
    color: rgb(30, 202, 30)
}

footer div>p{
    font-size: small;
}

#menu {
    background-color: black;
    min-height: 100vh;
}

#content {
    background-color: #121212;
    min-height: 100vh;
}

#player {
    background-color: #181818;
    min-height: 15vh;
    z-index: 10;

}